<p>listagem-filmes works!</p>

<div class="home-content">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Movie title</mat-card-title>
            <mat-card-subtitle>Movie subtitle</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/images/angular-material-post.png" alt="Photo of a Shiba Inu" />
        <mat-divider></mat-divider>
        <br>
        <mat-card-content>
            <p>description image</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent">Open</button>
        </mat-card-actions>
    </mat-card>
</div>