.home-content {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 20px);
    justify-content: space-between;
    padding: 10px;
}

.card {
    margin-bottom: 10px;
}

.mat-card-image {
    width: 460px;
    height: 268px;
    margin: auto;
    display: block;
}


/* width: 182px */