.home-content {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 50px);
    justify-content: space-between;
    padding: 10px;
}

.card {
    max-width: 300px;
    margin-bottom: 250px;
    float: left;
}

.mat-card-image {
    width: 268px;
    height: 268px;
    margin: auto;
    display: block;
}


/* width: 182px */